.grass {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #8bc34a

}

.monster {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #f6270a
}

.water {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #03a8f4
}
.hero {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #8341be
}

.stone {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #7a787a
}

.rubble {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #9e9b9b
}

.floor {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #a0614c
}

.wall {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #795448
}

.fire {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #ff5623
}

.elementWater {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #3f51b5
}
.elementEarth {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #194f11
}

.elementAir {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #feebee
}

.elementFire {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #ff9901
}

.gameObjectiveAlert {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #6db00a
}

.finishTheGame {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #b90ec8
}


.blank {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #ffffff
}
.blank {
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: gray
}